{% import 'macros/form.html' as form %}

{% set action = c.form_action or '' %}
{% set data = data or {} %}
{% set errors = errors or {} %}

{% set is_upload_1 = data.image_url_1 and not data.image_url_1.startswith('http') %}
{% set is_url_1 = data.image_url_1 and data.image_url_1.startswith('http') %}

{% set is_upload_2 = data.image_url_2 and not data.image_url_2.startswith('http') %}
{% set is_url_2 = data.image_url_2 and data.image_url_2.startswith('http') %}

{% set is_upload_3 = data.image_url_3 and not data.image_url_3.startswith('http') %}
{% set is_url_3 = data.image_url_3 and data.image_url_3.startswith('http') %}

{% set is_upload_4 = data.image_url_4 and not data.image_url_4.startswith('http') %}
{% set is_url_4 = data.image_url_4 and data.image_url_4.startswith('http') %}

{% set is_upload_5 = data.image_url_5 and not data.image_url_5.startswith('http') %}
{% set is_url_5 = data.image_url_5 and data.image_url_5.startswith('http') %}

<form method="post" action="{{ action }}" data-module="basic-form" enctype="multipart/form-data">
  {% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}

  {{ form.image_upload(data, errors, field_url='image_url_1', field_upload='image_upload_1', field_clear='clear_upload_1',
                        is_upload_enabled=h.uploads_enabled(), is_url=is_url_1, is_upload=is_upload_1,
                        url_label='Image URL 1') }}

  {{ form.image_upload(data, errors, field_url='image_url_2', field_upload='image_upload_2', field_clear='clear_upload_2',
                        is_upload_enabled=h.uploads_enabled(), is_url=is_url_2, is_upload=is_upload_2,
                        url_label='Image URL 2') }}

  {{ form.image_upload(data, errors, field_url='image_url_3', field_upload='image_upload_3', field_clear='clear_upload_3',
                        is_upload_enabled=h.uploads_enabled(), is_url=is_url_3, is_upload=is_upload_3,
                        url_label='Image URL 3') }}

  {{ form.image_upload(data, errors, field_url='image_url_4', field_upload='image_upload_4', field_clear='clear_upload_4',
                        is_upload_enabled=h.uploads_enabled(), is_url=is_url_4, is_upload=is_upload_4,
                        url_label='Image URL 4') }}

  {{ form.image_upload(data, errors, field_url='image_url_5', field_upload='image_upload_5', field_clear='clear_upload_5',
                        is_upload_enabled=h.uploads_enabled(), is_url=is_url_5, is_upload=is_upload_5,
                        url_label='Image URL 5') }}

{#
  {{ form.select('layout', label=_('Layout'), options=[{'value': 'center', 'text': 'Center-Aligned'},{'value': 'left', 'text': 'Left-Aligned'}], selected='center', error=errors.layout) }}
#}
  <div class="form-actions">
    <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Save') }}</button>
  </div>
</form>
