{% import 'macros/form2.html' as form %}

{% set action_url = h.url_for('hero_slider_update') %}
{% set data = data or {} %}
{% set errors = errors or {} %}

<form class="form-horizontal" method="post" action="{{ action_url }}" data-module="basic-form" enctype="multipart/form-data">
  {% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}

  {% set is_upload_1 = data.image_url_1 and not data.image_url_1.startswith('http') %}
  {% set is_url_1 = data.image_url_1 and data.image_url_1.startswith('http') %}

  {% set is_upload_2 = data.image_url_2 and not data.image_url_2.startswith('http') %}
  {% set is_url_2 = data.image_url_2 and data.image_url_2.startswith('http') %}

  {% set is_upload_3 = data.image_url_3 and not data.image_url_3.startswith('http') %}
  {% set is_url_3 = data.image_url_3 and data.image_url_3.startswith('http') %}

  {% set is_upload_4 = data.image_url_4 and not data.image_url_4.startswith('http') %}
  {% set is_url_4 = data.image_url_4 and data.image_url_4.startswith('http') %}

  {% set is_upload_5 = data.image_url_5 and not data.image_url_5.startswith('http') %}
  {% set is_url_5 = data.image_url_5 and data.image_url_5.startswith('http') %}

  {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url_1, is_upload=is_upload_1,
        field_url='image_url_1', field_upload='image_upload_1', field_clear='clear_upload_1', url_label='Image URL 1') }}
{#
  {{ form.markdown('hero_text_1', id='field-hero-text-1', label='Text 1', placeholder='Text on Hero image', value=data.hero_text_1) }}
#}
  <hr>

  {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url_2, is_upload=is_upload_2,
        field_url='image_url_2', field_upload='image_upload_2', field_clear='clear_upload_2', url_label='Image URL 2') }}
{#
  {{ form.markdown('hero_text_2', id='field-hero-text-2', label='Text 2', placeholder='Text on Hero image', value=data.hero_text_2) }}
#}
  <hr>

  {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url_3, is_upload=is_upload_3,
        field_url='image_url_3', field_upload='image_upload_3', field_clear='clear_upload_3', url_label='Image URL 3') }}
{#
  {{ form.markdown('hero_text_3', id='field-hero-text-3', label='Text 3', placeholder='Text on Hero image', value=data.hero_text_3) }}
#}
  <hr>

  {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url_4, is_upload=is_upload_4,
        field_url='image_url_4', field_upload='image_upload_4', field_clear='clear_upload_4', url_label='Image URL 4') }}
{#
  {{ form.markdown('hero_text_4', id='field-hero-text-4', label='Text 4', placeholder='Text on Hero image', value=data.hero_text_4) }}
#}
  <hr>

  {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url_5, is_upload=is_upload_5,
        field_url='image_url_5', field_upload='image_upload_5', field_clear='clear_upload_5', url_label='Image URL 5') }}
{#
  {{ form.markdown('hero_text_5', id='field-hero-text-5', label='Text 5', placeholder='Text on Hero image', value=data.hero_text_5) }}
#}

  <div class="form-actions">
    <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Save') }}</button>
  </div>
</form>
