{% extends "admin/base.html" %}
{% set max_image_size = h.hero_get_max_image_size() %}
{% block primary_content_inner %}
  <h1 class="page-heading">
    {% block page_heading %}{{  _('Manage Hero Slider') }}{% endblock %}
  </h1>
  {% block form %}
    {% snippet 'admin/hero_slider_form.html', hero=hero, data=data, errors=errors %}
  {% endblock %}

{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Manage Hero Slider') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Upload or link images to the homepage Hero slider.</p>
        <p>The recommended image format is JPEG with a resolution of 1600x400. Image file sizes should be below {{max_image_size}}MBs. Large files sizes (e.g. larger than 1MB) can cause the home page to load slowly.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
