{% set title = g.site_title %}
{% set intro = g.site_intro_text %}
{% set hero_images_list = h.hero_get_hero_images() %}

{% set type = 'asset' if h.ckan_version().split('.')[1] | int >= 9 else 'resource' %}
{% snippet 'snippets/hero_' ~ type ~ '.html', name='heroslideradmin/hero-css' %}
{% snippet 'snippets/hero_' ~ type ~ '.html', name='heroslideradmin/hero-js' %}

<div class="cd-header cd-half-width">
  <div class="tint"></div>
  <div class="container">
    <div class="row row1">
      <div class="col-md-12 span12">
        <div class="module-content">
          <div class="module landing-hero-intro-text">
            <h1 class="hero-text-title">{{title}}</h1>
            <div class="hero-text-description">
              {% if intro %}
                {{ h.render_markdown(intro) }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="cd-hero">
  <ul class="cd-hero-slider autoplay list-unstyled">
    {% for hero_img in hero_images_list %}
      {% for key,value in hero_img.items() %}
        {% if value %}
          <li style="background-image: url({{value}})" {%if loop.index == 1%}class="selected"{%endif%}>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul> <!-- .cd-hero-slider -->
  <div class="cd-slider-nav">
    <nav>
      <span class="cd-marker item-1"></span>
      <ul class="list-unstyled">
        {% for hero_img in hero_images_list %}
          {% set current_loop_index = loop.index %}
          {% for key, value in hero_img.items() %}
            {% if value %}
              <li {% if current_loop_index == 1 %}class="selected"{% endif %}>
                <button aria-label="Change slider background to option {{current_loop_index}}"><i class="fa fa-circle icon-circle"></i></button>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </nav>
  </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->
