{% set title = g.site_title %}
{% set intro = g.site_intro_text %}
{% set hero_images_list = h.hero_get_hero_images() %}

<header class="cd-header">
  <div class="container">
    <div class="row row1">
      <div class="span12">
        <div class="module-content box" style="background:transparent; padding-top:20px;">
          <div class="landing-hero-intro-text">
            <div class="intro-text supporting-text">Welcome to</div>
            <h1 class="hero-text-heading heading">{{title}}</h1>
          </div>
          <div class="hero-text-description secondary-heading" style="color:#ffffff;">
            {% if intro %}
              {{ h.render_markdown(intro) }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</header>
<section class="cd-hero">
  <ul class="cd-hero-slider autoplay">
    {% for hero_img in hero_images_list %}
      {% for key,value in hero_img.items() %}
        {% if value %}
          <li style="background-image: url({{value}})" {%if loop.index == 1%}class="selected"{%endif%}>
            <div class="tint"></div>
{#
            <div class="cd-full-width">
              <div class="landing-hero-intro-text">
                <div class="intro-text supporting-text">Welcome to</div>
                <h1 class="hero-text-heading heading">{{title}}</h1>
              </div>
              <div class="hero-text-description secondary-heading">
              {% set hero_dict = h.hero_get_hero_text(key) %}
              {% if hero_dict['hero_text'] %}
                {{ h.render_markdown(hero_dict['hero_text']) }}
              {% elif intro %}
                {{ h.render_markdown(intro) }}
              {% endif %}
              </div>
            </div> <!-- .cd-full-width -->
#}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul> <!-- .cd-hero-slider -->
  <div class="cd-slider-nav">
    <nav>
      <span class="cd-marker item-1"></span>
      <ul>
        {% for hero_img in hero_images_list %}
          {%if loop.index == 1%}{% set selected = True %}{% else %}{% set selected = False %}{% endif %}
          {% for key,value in hero_img.items() %}
            {% if value %}
              <li {%if selected%}class="selected"{%endif%}><a href="#0" aria-label="slider"><i class="icon-circle"></i></a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </nav>
  </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->
